<body>
	<div id="background">
		<div id="page">
			<div id="contents">
				<div class="box">
					<div>
						<div id="contact" class="body">
							<h1>{{title}}</h1>
							<form action="index.html" method="post">
								<table>
									<tbody>
										<tr>
											<td>{{state.contactform.name}}</td>
											<td><input type="text" value="" class="txtfield"></td>
										</tr> 
										<tr>
											<td>{{state.contactform.email}}</td>
											<td><input type="text" value="" class="txtfield"></td>
										</tr> 
										<tr>
											<td>{{state.contactform.subject}}</td>
											<td><input type="text" value="" class="txtfield"></td>
										</tr> 
										<tr>
											<td class="txtarea">{{state.contactform.message}}</td>
											<td><textarea></textarea></td>
										</tr> 
										<tr>
											<td></td>
											<td><input type="submit" value="" class="btn"></td>
										</tr>
									</tbody>
								</table>
							</form>
							<div>
								{{#each state.contactInfo}}
								<p>
									{{this.method}}
									<br/>
									{{this.value}}
								</p>
								{{/each}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>