<body>
	<div id="background">
		<div id="page">
			<div id="contents">
				<div id="adbox">
					<img src="{{state.jumbotron.image}}" alt="Img">
					<h1>{{state.jumbotron.title}}</h1>
					<p>
						{{state.jumbotron.paragraph1}}
						<a href="http://www.freewebsitetemplates.com/">{{state.jumbotron.anchor1}}</a>
						 {{state.jumbotron.paragraph2}} 
						 <a href="http://www.freewebsitetemplates.com/forums/">{{state.jumbotron.anchor1}}</a>.
					</p>
				</div>
				<div id="main">
					<div class="box">
						<div>
							<div>
								<h3>{{state.blog.title}}</h3>
								<ul>
									{{#each state.blog.posts}}
									<li>
										<h4><a href="news">{{this.title}}</a></h4>
										<span>{{this.date}}</span>
										<span>{{this.anchortag}}</span>
										<p>
											{{paragraph}}
										</p>
									</li>
									{{/each}}
								</ul>
							</div>
						</div>
					</div>
					<div id="testimonials" class="box">
						<div>
							<div>
								<h3>{{state.testimonials.title}}</h3>
								<p>
									{{state.testimonials.paragraph}}
									<span>- <a href="index.html">{{state.testimonials.span}}</a></span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div id="sidebar">
					<div class="section">
						<a href="rooms"><img src="{{state.images.rooms}}" alt="Img"></a>
					</div>
					<div class="section">
						<a href="dives"><img src="{{state.images.dives}}" alt="Img"></a>
					</div>
					<div class="section">
						<a href="foods"><img src="{{state.images.section}}" alt="Img"></a>
					</div>
				</div>
			</div>
		</div>
    </div>
</body>
</html>