<body>
	<div id="background">
		<div id="page">
			<div id="contents">
				<div class="box">
					<div>
						<div id="news" class="body">
							<div class="sidebar">
								{{#each context.sidebar}}
								<h3>{{this.name}}</h3>
								<ul>
									{{#each this.items}}
									<li>
										<a href="news.html">{{this}}</a>
									</li>
									{{/each}}
								{{/each}}
								</ul>
							</div>
							<div>
								<h1>{{context.article.catagory}}</h1>
								<img src="{{context.article.image}}" alt="Img">
								<h2>{{context.article.title}}</h2>
								<span class="time">{{context.article.date}}<br>{{context.article.author}}</span>
								<p>
									{{context.article.paragraphs}}
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</body>
</html>