<body>
	<div id="background">
		<div id="page">
			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>{{title}}</h1>
							<ul id="rooms">
								{{#each state}}
								<li>
									<a href="rooms"><img src="images/{{image}}" alt="Img"></a>
									<h2><a href="rooms">{{name}}</a></h2>
									<p>{{description}}</p>
									<span class="rate">{{rate}}</span>
								</li>
								{{/each}}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</body>
</html>